<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--起动Bean-->
    <bean id="checkJob" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronReportTrigger"/>
                <ref bean="cronReportTrigger2"/>
                <ref bean="cronReportTrigger3"/>
            </list>
        </property>
    </bean>
    <!--实际的工作Bean-->
    <bean id="mbpChecker" class="com.penho.java.shopping.MbpChecker"></bean>
    <!--jobBean用于设定启动时运用的Bean与方法-->
    <bean id="scheduledReportJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="mbpChecker"/>
        </property>
        <property name="targetMethod">
            <value>amazonMbpCheck</value>
        </property>
    </bean>

     <bean id="scheduledReportJobDetail2"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="mbpChecker"/>
        </property>
        <property name="targetMethod">
            <value>voteCheck</value>
        </property>
    </bean>

    <bean id="scheduledReportJobDetail3"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="mbpChecker"/>
        </property>
        <property name="targetMethod">
            <value>voteRobot</value>
        </property>
    </bean>

    <!--定时器设定起动频率&启动时间 (0 0  4 * * ?每日四点起动....)-->
    <bean id="cronReportTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="scheduledReportJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>5,15,25,35,45,55 * * * * ?</value>
        </property>
    </bean>

    <bean id="cronReportTrigger2"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="scheduledReportJobDetail2"/>
        </property>
        <property name="cronExpression">
            <value>8,18,28,38,48,58 * * * * ?</value>
        </property>
    </bean>

    <bean id="cronReportTrigger3"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="scheduledReportJobDetail3"/>
        </property>
        <property name="cronExpression">
            <value>2,12,22,32,42,52 * * * * ?</value>
        </property>
    </bean>
</beans>